Package: com.thelazyitguy.iconvibe
Name: iconvibe
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: A tweak to apply taptic feedback when opening apps
Maintainer: TheLazyITGuy
Author: TheLazyITGuy
Section: Tweaks
